<!DOCTYPE html>
<html>

<head>
  <!-- 设置页面默认参数 >>>>>>>>>>>>> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    <$ ctx.app.config.appTitle $>
  </title>
  <meta charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <!-- <<<<<<<<<<<<< 设置页面默认参数 -->

  <!-- 加载第三方库CSS >>>>>>>>>>>>> -->
  <link href="/<$ ctx.app.config.appId $>/public/lib/vuetify/materialdesignicons.min.css" rel="stylesheet">
  <link href="/<$ ctx.app.config.appId $>/public/lib/vuetify/vuetify.min.css" rel="stylesheet">
  <!-- <<<<<<<<<<<<< 加载第三方库CSS -->

  <!-- 加载第三方库JS >>>>>>>>>>>>> -->
  <script src="/<$ ctx.app.config.appId $>/public/lib/lodash/lodash.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/dayjs/dayjs.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/axios/axios.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/vue/vue.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/vuetify/vuetify.min.js"></script>
  <!-- <<<<<<<<<<<<< 加载第三方库JS -->

  <!-- 加载定制样式 >>>>>>>>>>>>> -->
  {% include 'common/globalCSSFontV4.html' %}
  {% include 'common/globalCSSVuetifyV4.html' %}
  <!-- <<<<<<<<<<<<< 加载定制样式 -->

</head>

<body>

  <!-- vue template >>>>>>>>>>>>> -->
  <script type="text/html" id="app-template">
    <div>
      <v-app mobile-breakpoint="sm">
        <!-- 菜单栏 -->
        <v-app-bar
          app
          clipped-left
          height="60"
          class="jh-page-header px-8"
          style="z-index: 50;"
          flat>
          <v-toolbar-title ref="toolbarTitle" class="mr-8 pa-0 align-center" style="font-size: 14px; flex: none">
            <span class="title" style="font-size: 18px!important; font-weight: 700">江湖演示-初级</span>
          </v-toolbar-title>
          <v-tabs
            v-model="menuSelectedIndex"
            show-arrows
            slider-size="0"
            color="success"
            style="max-width: calc(100vw - 280px)">
            <template v-for="item in inMenuList">
              <v-tab
                class="px-5 jh-header-tab"
                active-class="jh-header-tab-active"
                :key="item.path"
                @click="jump({ path: item.path })">
                {{ item.title }}
              </v-tab>
            </template>
          </v-tabs>
          <v-spacer />

        </v-app-bar>

        <v-main class="d-flex flex-column">
          <!-- 头部内容 >>>>>>>>>>>>> -->
          <div class="jh-page-second-bar px-8">
            <v-row>
              <v-col cols="12" xs="8" sm="8" md="4" xl="3">
                <div class="pt-3 text-h7 font-weight-bold">前端对接
                  <!-- 帮助页按钮 -->
                  <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline</v-icon>
                </div>
                <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
              </v-col>
            </v-row>
          </div>
          <!-- <<<<<<<<<<<<< 头部内容 -->

          <div class="jh-page-body-container px-8">
            <!-- 页面内容 >>>>>>>>>>>>> -->
            <v-card class="rounded-lg">
              <v-row class="ma-0 py-0 px-4">
                <!--新增按钮-->
                <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
                  <v-btn color="success" small class="elevation-0 mr-2"
                         @click="doUiAction('startCreateItem')">新增</v-btn>
                </v-col>
                <v-spacer></v-spacer>
                <!--搜索-->
                <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="px-0">
                  <v-text-field v-model="searchInput" color="success" prefix="搜索：" class="jh-v-input" dense filled
                                single-line></v-text-field>
                </v-col>
              </v-row>
              <!--表格-->
              <v-data-table
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
                  :items-per-page="-1"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  :class="{'zebraLine': isTableZebraLineShown }"
                  checkbox-color="success"
                  fixed-header
                  class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
                <!--表格行操作按钮-->
                <template v-slot:item.action="{ item }">
                    <span role="button" class="success--text jh-font-size-3 pr-2"
                          @click="doUiAction('startUpdateItem', item)">
                      <v-icon size="14" class="success--text">mdi-note-edit-outline</v-icon>修改
                    </span>
                  <span role="button" class="success--text jh-font-size-3"
                        @click="doUiAction('deleteItem', item)">
                      <v-icon size="14" class="success--text">mdi-trash-can-outline</v-icon>删除
                    </span>
                </template>
                <!--表格底部右侧功能按钮-->
                <template v-slot:footer.prepend>
                  <v-btn icon @click="doUiAction('openTableZebraLineMenu', $event)">
                    <v-icon>mdi-menu</v-icon>
                  </v-btn>
                  <v-menu top offset-y :close-on-content-click="false" v-model="isTableZebraLineMenuShown" :position-x="tableZebraLineMenuPosition.x" :position-y="tableZebraLineMenuPosition.y">
                    <v-list>
                      <v-list-item>
                        <v-switch v-model="isTableZebraLineShown" hide-details class="ma-0" label="显示斑马纹" dense flat></v-switch>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <!--表格底部右侧分页-->
                <template v-slot:footer.page-text="pagination">
                  <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                  <span class="ml-1">共{{pagination.itemsLength}}条</span>
                </template>
              </v-data-table>
            </v-card>
            <!--抽屉遮罩层-->
            <v-overlay app :value="isCreateDrawerShown || isUpdateDrawerShown || isHelpPageDrawerShown"></v-overlay>
            <!--新增抽屉-->
            <v-navigation-drawer v-model="isCreateDrawerShown" fixed temporary right width="80%" hide-overlay
              class="elevation-24">
              <v-form v-if="isCreateDrawerShown" ref="createForm" lazy-validation>
                <!--抽屉标题-->
                <v-row>
                  <span class="title pa-6 pl-8">添加信息</span>
                </v-row>
                <!--抽屉表单主体-->
                <v-row class="mt-0 px-6">
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生ID</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生ID" v-model="createItem.studentId"
                      :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">班级ID</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="班级ID"
                      v-model="createItem.classId"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生名字</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生名字"
                      v-model="createItem.name"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">年级</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="年级"
                      v-model="createItem.level"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">性别</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="性别"
                      v-model="createItem.gender"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">出生日期</span>
                    <v-text-field class="jh-v-input" dense single-line filled readonly @click="doUiAction('openDataPicker', $event)" label="出生日期" v-model="createItem.dateOfBirth"></v-text-field>
                    <v-menu class="jh-v-input" :close-on-content-click="false" v-model="isDataPickerShown" :position-x="dataPickerPosition.x" :position-y="dataPickerPosition.y" transition="scale-transition" offset-y min-width="auto">
                      <v-date-picker color="success" elevation="20" @input="isDataPickerShown = false" v-model="createItem.dateOfBirth"></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">身高</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="身高"
                      v-model="createItem.bodyHeight"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生状态</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生状态"
                      v-model="createItem.studentStatus"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <span class="jh-input-label">备注</span>
                    <v-textarea class="jh-v-input" no-resize dense single-line filled label="备注"
                      v-model="createItem.remarks"></v-textarea>
                  </v-col>
                </v-row>
                <!--抽屉操作按钮-->
                <v-row class="justify-end mx-0 mt-8 px-6">
                  <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                  <v-btn class="ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
                </v-row>
              </v-form>
              <!--抽屉关闭按钮-->
              <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                @click="isCreateDrawerShown = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-navigation-drawer>
            <!--编辑抽屉-->
            <v-navigation-drawer v-model="isUpdateDrawerShown" fixed temporary right hide-overlay width="80%"
              class="elevation-24">
              <v-form v-if="isUpdateDrawerShown" ref="updateForm" lazy-validation>
                <!--抽屉标题-->
                <v-row>
                  <span class="title pa-6 pl-8">修改信息</span>
                </v-row>
                <!--抽屉表单-->
                <v-row class="mt-0 px-6">
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生ID</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生ID" v-model="updateItem.studentId"
                      :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">班级ID</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="班级ID" v-model="updateItem.classId"
                      :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生名字</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生名字"
                      v-model="updateItem.name"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">年级</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="年级" v-model="updateItem.level"
                      :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">性别</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="性别" v-model="updateItem.gender"
                      :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">出生日期</span>
                    <v-text-field class="jh-v-input" dense single-line filled readonly @click="doUiAction('openDataPicker', $event)" label="出生日期" v-model="updateItem.dateOfBirth"></v-text-field>
                    <v-menu class="jh-v-input" :close-on-content-click="false" v-model="isDataPickerShown" :position-x="dataPickerPosition.x" :position-y="dataPickerPosition.y" transition="scale-transition" offset-y min-width="auto">
                      <v-date-picker color="success" elevation="20" @input="isDataPickerShown = false" v-model="updateItem.dateOfBirth"></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">身高</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="身高" v-model="updateItem.bodyHeight"
                      :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生状态</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生状态"
                      v-model="updateItem.studentStatus"
                      :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <span class="jh-input-label">备注</span>
                    <v-textarea class="jh-v-input" no-resize dense single-line filled label="备注"
                      v-model="updateItem.remarks"></v-textarea>
                  </v-col>
                </v-row>
                <!--抽屉操作按钮-->
                <v-row class="justify-end mx-0 mt-8 px-6">
                  <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
                  <v-btn class="ml-2" small @click="isUpdateDrawerShown = false">取消
                  </v-btn>
                </v-row>
              </v-form>

              <!--抽屉关闭按钮-->
              <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                @click="isUpdateDrawerShown = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-navigation-drawer>
            <!-- <<<<<<<<<<<<< 页面内容 -->
          </div>

          <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
          <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" hide-overlay
            class="elevation-24">
            <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
              height="100%"></iframe>

            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
              @click="isHelpPageDrawerShown = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

        </v-main>
      </v-app>

      <jh-toast />
      <jh-mask />
      <jh-confirm-dialog />

    </div>
  </script>

  <div id="app">
  </div>
  <!-- <<<<<<<<<<<<< vue template -->

  <!-- 加载工具脚本 >>>>>>>>>>>>> -->
  {% include 'utility/prepareAppInfoV4.html' %}
  {% include 'utility/prepareUserInfoV4.html' %}
  {% include 'utility/jianghuAxiosV4.html' %}
  {% include 'utility/htmlErrorCollectionV4.html' %}
  <!-- <<<<<<<<<<<<< 加载工具脚本 -->

  <!-- 加载全局组件 >>>>>>>>>>>>> -->
  {% include 'component/jhToastV4.html' %}
  {% include 'component/jhMaskV4.html' %}
  {% include 'component/jhConfirmDialogV4.html' %}
  <!-- <<<<<<<<<<<<< 加载全局组件 -->

  <!-- vue script >>>>>>>>>>>>> -->

  <!-- 加载页面组件 >>>>>>>>>>>>> -->
  {% include 'common/fixedTableHeightV4.html' %}
  <!-- <<<<<<<<<<<<< 加载页面组件 -->

  <script type="module">
    new Vue({
      el: '#app',
      template: '#app-template',
      vueComponent: 'page',
      vuetify: new Vuetify(),
      data: {
        // 菜单相关数据
        menuSelectedIndex: 1,
        inMenuList: [
          {
            "path": `/<$ ctx.app.config.appId $>/`,
            "title": "返回",
          },
          {
            "path": `/<$ ctx.app.config.appId $>/page/frontendDemo`,
            "title": "前端对接",
          }
        ],

        // 面包屑
        breadcrumbs: [
          {
            text: '首页',
            disabled: true,
          },
          {
            text: '前端对接',
            disabled: true,
          }
        ],
        isHelpPageDrawerShown: false,

        // 表格相关数据
        isTableZebraLineMenuShown: false,
        tableZebraLineMenuPosition: {x: null, y: null},
        isTableZebraLineShown: true,
        // 生日日期选择
        isDataPickerShown: false,
        dataPickerPosition: {x: null, y: null},
        validationRules: {
          requireRules: [
            v => !!v || 'This is required',
          ],
        },
        searchInput: null,
        isTableLoading: true,
        tableData: [],
        headers: [
          { text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed' },
          { text: "学生ID", value: "studentId", width: 120 },
          { text: "班级ID", value: "classId", width: 140 },
          { text: "学生名字", value: "name", width: 120 },
          { text: "年级", value: "level", width: 120 },
          { text: "性别", value: "gender", width: 120 },
          { text: "出生日期", value: "dateOfBirth", width: 120 },
          { text: "身高", value: "bodyHeight", width: 120 },
          { text: "学生状态", value: "studentStatus", width: 120 },
          { text: "备注", value: "remarks", width: 120 },
          { text: "操作者", value: "operationByUser", width: 120 },
          { text: "操作时间", value: "operationAt", width: 250 }
        ],

        isCreateDrawerShown: false,
        createItem: {},
        createActionData: {},
        isUpdateDrawerShown: false,
        updateItem: {},
        updateItemId: null,
        updateActionData: {},
        deleteItem: {},
        deleteItemId: null
      },
      watch: {},
      mounted() {
        this.doUiAction('getTableData');
      },
      methods: {
        async doUiAction(uiActionId, uiActionData) {
          switch (uiActionId) {
            case 'getTableData':
              await this.getTableData();
              break;
            case 'openDataPicker':
              await this.openDataPicker(uiActionData);
              break;
            case 'openTableZebraLineMenu':
              await this.openTableZebraLineMenu(uiActionData);
              break;
            case 'startCreateItem':
              await this.prepareCreateFormData();
              await this.openCreateDrawer();
              break;
            case 'createItem':
              await this.prepareCreateValidate();
              await this.confirmCreateItemDialog();
              await this.prepareDoCreateItem();
              await this.doCreateItem();
              await this.closeCreateDrawer();
              await this.clearCreateItemData();
              await this.getTableData();
              break;
            case 'startUpdateItem':
              await this.prepareUpdateFormData(uiActionData);
              await this.openUpdateDrawer();
              break;
            case 'updateItem':
              await this.prepareUpdateValidate();
              await this.confirmUpdateItemDialog();
              await this.prepareDoUpdateItem();
              await this.doUpdateItem();
              await this.closeUpdateDrawer();
              await this.clearUpdateItemData();
              await this.getTableData();
              break;
            case 'deleteItem':
              await this.prepareDeleteFormData(uiActionData);
              await this.confirmDeleteItemDialog();
              await this.prepareDoDeleteItem();
              await this.doDeleteItem();
              await this.clearDeleteItem();
              await this.getTableData();
              break;
            default:
              console.error("[doUiAction] uiActionId not find", { uiActionId });
              break;
          }
        },

        async getTableData() {
          this.isTableLoading = true;
          const result = await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'selectItemList',
                actionData: {},
                where: {},
                orderBy: [{ column: 'operationAt', order: 'desc' }]
              }
            }
          });

          this.tableData = result.data.appData.resultData.rows;
          this.isTableLoading = false;
        },
        // ---------- 生日选择 uiAction >>>>>>>>>> --------
        async openDataPicker(funObj) {
          this.dataPickerPosition.x = funObj.x - funObj.offsetX;
          this.dataPickerPosition.y = funObj.y - funObj.offsetY + 40;
          this.isDataPickerShown = !this.isDataPickerShown;
        },
        // ---------- <<<<<<<<<< 生日选择 uiAction --------
        // ---------- 斑马纹开关 uiAction >>>>>>>>>> --------
        async openTableZebraLineMenu(funObj) {
          this.tableZebraLineMenuPosition.x = funObj.x -funObj.offsetX + 10;
          this.tableZebraLineMenuPosition.y = window.innerHeight - 50;
          this.isTableZebraLineMenuShown = !this.isTableZebraLineMenuShown;
        },
        // ---------- <<<<<<<<<< 斑马纹开关 uiAction --------
        // ---------- 新增数据 uiAction >>>>>>>>>> --------
        async prepareCreateFormData() {
          this.createItem = {};
        },

        async openCreateDrawer() {
          this.isCreateDrawerShown = true;
        },

        async prepareCreateValidate() {
          if(await this.$refs.createForm.validate()) {
            return true;
          }
          throw new Error("请完善表单信息")
        },

        async confirmCreateItemDialog() {
          if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
            throw new Error("[confirmCreateFormDialog] 否");
          }
        },

        prepareDoCreateItem() {
          const {id, ...data} = this.createItem;
          this.createActionData = data;
        },

        async doCreateItem() {
          await window.jhMask.show();
          await window.vtoast.loading("新增学生");
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'insertItem',
                actionData: this.createActionData
              }
            }
          })
          await window.jhMask.hide();
          await window.vtoast.success("新增学生成功");
        },
        async closeCreateDrawer() {
          this.isCreateDrawerShown = false;
        },
        async clearCreateItemData() {
          this.createItem = {};
          this.createActionData = null;
        },
        // ---------- <<<<<<<<<<< 新增数据 uiAction  --------
        // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
        async prepareUpdateFormData(funObj) {
          this.updateItem = _.cloneDeep(funObj);
        },

        async closeUpdateDrawer() {
          this.isUpdateDrawerShown = false;
        },


        async openUpdateDrawer() {
          this.isUpdateDrawerShown = true;
        },

        async prepareUpdateValidate() {
          if(await this.$refs.updateForm.validate()) {
            return true;
          }
          throw new Error("请完善表单信息")
        },

        async confirmUpdateItemDialog() {
          if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
            throw new Error("[confirmUpdateItemDialog] 否");
          }
        },

        async prepareDoUpdateItem() {
          const {id, ...data} = this.updateItem;
          this.updateItemId = id;
          this.updateActionData = data;
        },

        async doUpdateItem() {
          await window.jhMask.show();
          await window.vtoast.loading("修改学生");
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'updateItem',
                actionData: this.updateActionData,
                where: {id: this.updateItemId}
              }
            }
          })

          await window.jhMask.hide();
          await window.vtoast.success("修改学生成功");
        },

        async clearUpdateItemData() {
          this.updateItem = {};
          this.updateActionData = null;
          this.updateItemId = null;
        },
        // ---------- <<<<<<<<<<< 修改数据 uiAction  --------
        // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
        async prepareDeleteFormData(funObj) {
          this.deleteItem = _.cloneDeep(funObj);
        },
        async confirmDeleteItemDialog() {
          if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
            throw new Error("[confirmDeleteItemDialog] 否");
          }
        },
        async prepareDoDeleteItem() {
          const { id } = this.deleteItem;
          this.deleteItemId = id;
        },
        async doDeleteItem() {
          await window.vtoast.loading("删除学生");
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'deleteItem',
                actionData: {},
                where: { id: this.deleteItemId }
              }
            }
          });
          await window.vtoast.success("删除学生成功");
        },
        async clearDeleteItem() {
          this.deleteItem = {};
          this.deleteItemId = null;
        },
        // ---------- <<<<<<<<<<< 删除数据 uiAction  --------

        jump({ path }) {
          window.location.href = path;
        }

      }
    })
  </script>

  <style scoped>
  </style>
  <!-- <<<<<<<<<<<<< vue script -->
</body>
